input[type="radio"].quiz-radio {
    margin-right: 8px;
}

.btn:focus,
.btn:active,
.btn:active:focus {
    outline: none;
}

.quiz-row {
    margin-top: 5%;
    margin-left: 10%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*background-image: url(../Images/img1.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center;*/
    /* font-family: sans-serif;*/
    padding: 25px;
    background-size: 800px 600px;
}

#img {
    padding: 30px;
    margin-top: 50px;
}

.menu-bar {
    background: #4CAF50;
    text-align: center;
    font-size: 18px;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.active,
.menu-bar ul li:hover {
    background: rgba(0, 100, 0);
    border-radius: 3px;
}