<body>
    <h1>Registration Form</h1>
    <form #registerForm="ngForm">
        <input type="text" placeholder="Firstname" name="fName" required #fName ngModel>
        <input type="text" placeholder="Lastname" name="lName" required #lName ngModel>
        <input type="email" placeholder="Email" name="Email" required #Email ngModel [pattern]="emailPattern">
        <input type="password" placeholder="Password" name="pwd" required #pwd ngModel>
        <input type="password" placeholder="Confrim Password" name="conpwd" required #conpwd ngModel>

        <div>
            <input type="radio" id="Parent" name="user"><label for="parent">Parent</label>
            <input type="radio" id="teacher" name="user"><label for="teacher">Teacher</label>
        </div>
        <input type="submit" name="Submit">
    </form>
</body>